@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');
@import "tailwindcss";

.google, .discord, .github {
    height: 20px;
    width: 20px;

    background-size: cover;
}


.customfont{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 40;
  font-style: normal;
}

.customfont2 {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 40;
  font-style: normal;
}

.google{
    background-image: url('/google.png');
}

.discord{
    background-image: url('/discord.png');
}

.github{
    background-image: url('/github.png');
}

.tablesImg{
    background-image: url('/restaurant.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

.addImg{
    background-image: url('/add.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

.delImg{
    background-image: url('/delete.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}


.outlet-dashboard{
    @apply p-2 flex flex-col gap-4 h-full w-full bg-[#F4EAE0];

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.outlet-dashboard option{
    @apply bg-[#4A3728] text-[#F2C56B];
}

.input-box{
    @apply border border-stone-500 rounded-md p-2 w-[80%] h-[45%] text-2xl flex flex-col gap-4 bg-[#E8D8C4];
}
.input-box h1{
    @apply text-4xl font-bold;
}

.input-form{
    @apply flex flex-col justify-center items-center gap-4 mt-4 h-[70%] w-full;
}

.input-dashboard{
    @apply border border-stone-500 rounded-md p-2 w-1/2 text-2xl text-[#7A5C3E];

    transition: 1s; 
}

.button-status{
    @apply bg-[#E8D8C4] rounded-lg w-25 h-10 border border-[#C4956A]/40 text-[#4A3728] font-semibold flex justify-center items-center;
}

.button-add-menu{
    @apply rounded-lg border-1 bg-[#C4956A] text-[#2C2118] text-center;
}

.carrinho{
    @apply hover:bg-zinc-600 cursor-pointer;
    background-image: url("/shopping-bag.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.bolinhaModal{
    @apply w-15 h-15 rounded-full bg-[#e8828a]/80 flex justify-center items-center text-2xl border-1 border-[#7A5C3E]
}