@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=TASA+Explorer:wght@400..800&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

.google, .discord, .github {
    height: 20px;
    width: 20px;

    background-size: cover;
}

.customfont {
  font-family: "TASA Explorer", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.customfont2 {
  font-family: "Yrsa", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.google{
    background-image: url('/google.png');
}

.discord{
    background-image: url('/discord.png');
}

.github{
    background-image: url('/github.png');
}


.outlet-dashboard{
    @apply p-2 flex flex-col gap-4 h-full w-full;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.outlet-dashboard option{
    @apply bg-zinc-700;
}

.input-box{
    @apply border border-stone-500 rounded-md p-2 w-full h-[50%] text-2xl flex flex-col gap-4;
}
.input-box h1{
    @apply text-4xl font-bold;
}

.input-form{
    @apply flex flex-col justify-center items-center gap-4 mt-4 text-white;
}

.input-dashboard{
    @apply border border-stone-500 rounded-md p-2 w-1/2 text-2xl;

    transition: 1s;
}

.button-status{
    @apply bg-zinc-700 rounded-lg w-[35%] h-[8%] border text-red-700 flex justify-center items-center;
}

.button-add-menu{
    @apply rounded-lg h-10 w-15 border-1 text-white bg-teal-900;
}